*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color-one : #5b57f5;
    --color-two : #edf1fd;
}
body{
    font-family:"Open Sans", sans-serif;
    background: var(--color-one);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.search-area{
    position: relative;
    width: 320px;
}
.search-area .label{
    position: relative;
    display: block;
    width: 25px;
    font-size: 20px;
    color: var(--color-two);
    cursor: pointer;
    margin-left: 12px;
    bottom:15px;
    transition: all .2s;
}
.search-area .label.close,
.search-area > input{
    display: none;
}
.search-input{
    position: relative;
    width: 100%;
    height: 55px;
    display: block;
    border-radius: 8px;
    background: var(--color-two);
    padding: 8px;
    top:30px;
    transition: all .2s;
    opacity: 0;
    pointer-events: none;
}
.search-input input{
    width: 100%;
    padding: 8px 35px 8px 12px;
    background-color: transparent;
    border: 2px solid var(--color-one);
    outline: none;
    color: var(--color-one);
    font-weight: 500;
    border-radius: 8px;
    font-size: 15px;
}
.search-input input::placeholder{
    font-size: 14px;
    color: #afbcce;
    font-weight: 500;
}
.search-input:before{
    position: absolute;
    content: "";
    width: 25px;
    height: 25px;
    background-color: var(--color-two);
    transform: rotate(45deg);
    top:-3px;
    z-index: -1;
}
.search-input button{
    position: absolute;
    font-size: 15px;
    background-color: var(--color-one);
    color: var(--color-two);
    border:none;
    outline: none;
    width: 35px;
    padding: 10px 6px;
    border-radius: 8px;
    right: 9px;
    cursor: pointer;
    transition: all .2s;
}
.search-input button:active{
    transform: scale(.75);
}
#search:checked ~ .search-input{
    top:0;
    opacity: 1;
    pointer-events: visible;
}
#search:checked ~ .label.open{
    display: none;
}
#search:checked ~ .label.close{
    display: block;
}